html {
color:black;
background-color:white;
background-image:url(background.jpg);
background-repeat:no-repeat;
font-family: 'Comic Sans MS', cursive;
}

body{
	color: #191970;
}

h1{
	font-size: 48px;
	text-align: center;
}

h2{
	font-size: 24px;
	text-align: center;
}

#title_trucker{
	font-weight: bold;
}
#title_shipper{
	font-weight: bold;
}
#D_O{
	font-weight: bold;
}

input{
	border-radius: 8px;
	background-color: #C0C0C0;
	color: #191970;
}

input:placeholder-shown {
  border: 2px solid black;
}

#compute{
	border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background: #C0C0C0;
	color: #191970;
	box-shadow:3px 3px 12px #000000;
	font-family: 'Comic Sans MS', cursive;
	font-weight: bold;
}

